@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter", "proxima nova", "proxima-nova", "Helvetica Neue",
    "Helvetica", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.accordion span {
  display: none;
}

.accordion div[class="overflow-hidden"] {
  /* overflow: none !important; */
  overflow: unset !important;
}
